<!DOCTYPE html> 
<html lang="en"> 

<head>
	<title>Secure Scan Web App</title>
	 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/register.css" rel="stylesheet">
    <script src="../static/js/jquery-3.2.1.js"></script>
    <<script src="../static/js/register.js"></script>

</head>

<body>
	<center>
	<div class ="container"> 
		<div class="header"> 
			<h4 style="padding: 20px">Secure Scan Web</h4>
			<p class="lead"></p>
			<form class="form-register">
			<label for="name" class="sr-only">Username</label>
			<input type="username" name="inputName" id="inputName" class="form-control" placeholder="Username" required autofocus>
			<label for="password" class="sr-only">Password</label>
			<input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
			<button id="btnRegister" class="btn btn-lg btn-primary btn-block" type="button">Register</button>

			</form>
		</div>	
	</div>
	</center>
</body>
</html>