<!DOCTYPE html> 
<html lang="en"> 

<head>
	<title>Secure Scan Web App</title>
	 <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/register.css" rel="stylesheet">

</head>

<body>
	<center>
	<div class ="container"> 
		<div class="header"> 
			<h4 style="padding: 20px">Secure Scan Web</h4>
			<p class="lead"></p>
			<form class="form-register">
			<p>Please upload your file</p>
			<button id="btnUpload" class="btn btn-lg btn-primary btn-block" type="button">Upload</button>

			</form>
		</div>	
	</div>
	</center>
</body>
</html>